:root {
  --background: #0a0a0a;
  --grey-light: #d9dadc;

  --green-light: #1ed760;
  --green: #1db954;
  --green-dark: #1aa34a;

  --fun-color: #9198e5;
}

* {
  box-sizing: border-box;
}

html {
  background: var(--background);
  height: 100%;
  min-height: 100vh;
}
html::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;

  background: linear-gradient(var(--fun-color) -10%, transparent 30%);
  opacity: 0.8;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: white;
}

main {
  margin: auto;
  padding: 2rem;

  max-width: 800px;
  width: 100%;
}

.header {
  margin-bottom: 2rem;
}
.header h1 {
  margin-bottom: 1rem;
}

/*//* Utils-----------------------------#07cf7f*/

.hide {
  display: none;
}

.fontWeight-400 {
  font-weight: 400;
}
.bold {
  font-weight: bold;
}

/*//* Button----------------------------#07cf7f*/

button {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  color: white;

  border: 2px solid transparent;
  border-radius: 2rem;
  padding: 0.4rem 2.4rem;

  cursor: pointer;
  transition: background-color 0.4s, color 0.4s, border-color 0.4s;
}

button {
  background-color: transparent;
  border-color: white;
}
button:hover {
  background-color: white;
  color: var(--background);
}
button:active,
button:focus {
  background-color: var(--grey-light);
  border-color: var(--grey-light);
  color: var(--background);
}

button.primary {
  background-color: var(--green);
  border-color: transparent;
  color: white;
}
button.primary:hover {
  background-color: var(--green-light);
}
button.primary:active,
button.primary:focus {
  background-color: var(--green-dark);
}

button.text {
  font-size: 1rem;
  color: var(--green);
  background-color: transparent;
  border-color: transparent;
  padding: 0;
}
button.text:hover {
  color: var(--green-light);
}
button.text:active,
button.text:focus {
  color: var(--green-dark);
}

/*//* Loader----------------------------#07cf7f*/

.loader {
  margin-left: 10px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #25d34e;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
